@model ResetPasswordVm
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassowrd" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassowrd" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section Validation
{
	<partial name="_ValidationScriptsPartial"></partial>
}

